<%= error_messages_for 'geneinfo' %>

<!--[form:geneinfo]-->
<p><label for="geneinfo_genename">Genename</label><br/>
<%= text_field 'geneinfo', 'genename'  %></p>

<p><label for="geneinfo_geneid">Geneid</label><br/>
<%= text_field 'geneinfo', 'geneid'  %></p>

<p><label for="geneinfo_mimid">MIM</label><br/>
<%= text_field 'geneinfo','mimid' %></p>

<p><label for="geneinfo_synonyms">Synonyms</label><br/>
	<%= text_field 'geneinfo', 'synonyms'%></p>
<!--[eoform:geneinfo]-->

