<h1>Listing geneinfos</h1>

<table>
  <tr>
  <% for column in Geneinfo.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for geneinfo in @geneinfos %>
  <tr>
  <% for column in Geneinfo.content_columns %>
    <td><%=h geneinfo.send(column.name) %></td>
  <% end %>
  <td><%= link_to 'Edit', :action => 'edit', :id => geneinfo %></td>
<!--
    <td><%= link_to 'Show', :action => 'show', :id => geneinfo %></td>
-->
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => geneinfo }, :confirm => 'Are you sure?', :post => true %></td>


	<td><%= link_to 'Associate', :action => 'associate', :id => geneinfo %></td>
<!--
	<td><%= link_to 'Populate proteins', :action => 'populate_proteins', :id => geneinfo %></td>
-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New geneinfo', :action => 'new' %>
