<%= error_messages_for 'enzymeinfo' %>

<!--[form:enzymeinfo]-->
<p><label for="enzymeinfo_uprotid">Uprotid</label><br/>
<%= text_field 'enzymeinfo', 'uprotid'  %></p>

<p><label for="enzymeinfo_cazyid">Cazyid</label><br/>
<%= text_field 'enzymeinfo', 'cazyid'  %></p>

<p><label for="enzymeinfo_ecid">Ecid</label><br/>
<%= text_field 'enzymeinfo', 'ecid'  %></p>
<!--[eoform:enzymeinfo]-->

