<h1>Expression information for <%= params[:mesh_tissue] %></h1>
<% if @expressed_tissues == true || @expressed_tissues == false %>
<p>Performing expression analysis</p>
<% else %>
	<pre><%= @expressed_tissues %></pre>
<% end %>
  <ul>
<% for enzymeinfo in @enzymeinfos %>
    <li><%= link_to enzymeinfo.geneinfo.genename, :controller => 'geneinfos', :action => 'show', :id => enzymeinfo.geneinfo %></li>
<% end %>
  </ul>
<br />