<% for column in Enzymeinfo.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @enzymeinfo.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @enzymeinfo %> |
<%= link_to 'Back', :action => 'list' %>
