<%  
	counts_keys = [] 
	counts_values = []
 	sugar.branch_points_count.each { |branch_count,value|
       counts_keys << branch_count.to_s
	   counts_values << 100 * (value || 0).to_f / sugar.root.hits
 	}

 	branch_points = sugar.branch_point_totals.keys.sort_by { |bp| bp.sort_key }
%>
<% for branch_point in branch_points %>
<div class="single_branch_graph">
	<div>Branch <%= branch_point.branch_label %></div>
	<div class="branch_graph_svg">
		<% self_value = sugar.branch_point_totals[branch_point][branch_point] %>
		<%= render_hash_as_bar_chart(branch_points.collect { |k| k.branch_label },branch_points.collect { |k|
			100.0 * (sugar.branch_point_totals[branch_point][k] || 0).to_f / self_value
			},100,['#7C8FBB','#2D50A2'] ) %>
	</div>
</div>
<% end %>
<div class="single_branch_graph">
<div class="branch_graph_svg">
	<div>Branching</div>
	<%= render_hash_as_bar_chart(counts_keys,counts_values,counts_values.max,['#7C8FBB','#2D50A2'])%>
	</div>
</div>
