<h1>Editing glycodb</h1>

<% form_for(@glycodb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @glycodb %> |
<%= link_to 'Back', glycodbs_path %>
