<h1>Sugar builder help</h1>

<p>The Sugar Builder allows you to build glycan structures interactively, without the knowledge of IUPAC nomenclature.</p>

<p>The steps to build a glycan are as follows:</p>
<ol>
<li>Click on a 'donor' in the top right box, and drag it into the builder space on the left.</li>

<li>Chains can be created by dragging the donor over another sugar or amino acid inside the builder space. Select the appropriate linkage when the linkage circles pop up.</li>

<li>Continue adding donors to the structure until the final structure is built.</li>

<li>Note that donors can only be added to the non-reducing terminus of the glycan. Any non-permissible linkages (for example, if the relevant atoms are already occupied) will not be generated.</li>

<li>After structures are built, you can add them to the list of structures you have made or entered. The full list can be viewed if required. Finally, the glycan viewer tool can be used to summarise all the structures present in graphical format.</li>

<li>Notes on the interpretation of the output are available <%= link_to "here" :action => 'help_output' %>.</li>
