<h1>Interpreting output</h1>

<p>The output from the tool is best interpreted in the context of examples. A detailed example, with comprehensive explanation, is given <%= link_to "here" ,'/help.pdf' %>.</p>