<h1>Glycan Visualisation tool</h1>
<h2>Introduction</h2>
<p>This tool is a prototype visualisation designed to present in a concise form, an overview of a set of glycan structures, without presenting an overwhelming amount of information.</p>
<p>The tool takes advantage of the nature of the biosynthetic pathways used to synthesise the structures, and focusses on presenting information where there are unique features in the structure. By de-emphasising a lot of the conserved structural features, it becomes easier to see the features that are unique.
</p>
<p>The data used here is from <a href="http://glycosuitedb.expasy.org">GlycoSuiteDB</a>, and several sets of data have been chosen to show how this tool works.
</p>
<p>All code for this project is publically available at <a href="http://code.google.com/p/glycoenzyme/">Google Code</a>, and was developed as part of <a href="http://www.eurocarbdb.org">EuroCarbDB</a> as part of the doctoral thesis of Hiren Joshi. The tool was first developed at the <a href="http://www.dkfz.de">German Cancer Research Centre (DKFZ)</a> in the group of Dr Claus-Wilhelm von der Lieth, and then further developed at UNSW at the <a href="http://www.systemsbiology.org.au">New South Wales Systems Biology Initiative</a>. EuroCarbDB is a Research Infrastructure Design Study Funded by the 6th Research Framework Program of the European Union (Contract: RIDS Contract number 011952).</p> 
<p>This tool was built using <a href="http://www.ruby-lang.org">Ruby</a>, <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://www.mochikit.com">MochiKit</a> and the <a href="http://developer.yahoo.com/yui/">YUI</a> javascript libraries.</p>
<h2>Using the tool</h2>
<p>For sample uses of the tool click <%= link_to "here", :controller => "glycodbs", :action => "list_tags" %>.</p>
<p>To summarise a group of user specified glycan structures with the tool click <%= link_to "here", :controller => "sequence_sets", :action => "add" %>.</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<h2>Important compatibility information</h2>
<p>Unfortunately, this prototype application supports only browsers such as <a href="http://getfirefox.com">Firefox</a> or <a href="http://www.apple.com/safari">Safari</a> for presentation of results. If you are using Internet explorer, please download an alternative browser, and use the prototype there.</p>
