<h1>Sample uses</h1>
<p>The tool can be used to summarise small to large groups of structures. These can be from one protein, or a group of related or unrelated proteins from one or more tissues. Groups of structures from two or more species can also be compared.</p>
<h2>The following diagrams have been selected to illustrate the tool</h2>
<ul>
<% for tag in @tags %>
<%
	if anat_name = tag.gsub(/anat\:/,'').humanize
		has_expression = @defined_tissues.include? anat_name
	end
%>
<li><%= link_to anat_name || tag, :controller => "glycodbs", :action => "coverage_for_tag", :id => tag %></li>
<% end %>
<li><a href="/structures/compare_tags/human_cancer_cell_line/human_cancer_tissue/">Compare human cancer cell line to tissue data</a></li>
</ul>

