<h1>Summary graphs available in the database</h1>
<h2>User defined</h2>
<%= link_to "Show summary",:controller => 'sequence_sets', :action => 'summary'%><br/>
<h2>Predefined</h2>
<ul>
<% for tag in @tags %>
<%
	if anat_name = tag.gsub(/anat\:/,'').humanize
		has_expression = @defined_tissues.include? anat_name
	end
%>
<li><%= link_to anat_name || tag, :controller => "glycodbs", :action => "coverage_for_tag", :id => tag %></li>
<% end %>
</ul>