<div>
<img src="<%= url_for :controller => 'sviewer', :ns => 'ic', :seq => @glycodb.GLYCAN_ST, :format => 'png', :width => 600, :height => 200  %>"/>
<table>
<tr><td>Sequence</td><td><%= @glycodb.GLYCAN_ST %></td></tr>
<tr><td>Linkage</td><td><%= @glycodb.GLYCAN_TYPE %></td></tr>
<tr><td>Tags</td><td><%= @glycodb.tags %></td></tr>
</table>
</div>