.enzyme {
	stroke: #00ff00;
	stroke-width: 5;

}
.evidenced {
	stroke: #0000ff;
	stroke-width: 5;

}
.supported {
	stroke: #dddddd;
	stroke-width: 5;
}
.noenzyme {
	stroke: #ff0000;
	stroke-width: 5;

}
.yui-navset .yui-content {
	background: #ffffff !important;
}
.sugar_decorations {
	display: none;
}

.branch_points_data table {
	display: none;
}

/* This is not selected for being printed, and is a screen only element */
div.branch_graphs {
	position: relative;
	float: right;
	right: 30px;
	top: 0px;
	width: 35%;
	height: 200px;
	z-index: 100;
	border: solid #9999ff 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
	background-color: #ffffff;
}

div.branch_graphs .data {
	overflow: auto;
	height: 100%;
	width: 100%;
}

/* These element are printed */

div.branch_graphs div.single_branch_graph {
	float: left;
	padding-left: 10px;
	width: 30%;
	height: 60%;
	max-height: 60%;
}

div.branch_graph_svg {
	height: 100%;
	width: 90%;
	margin-bottom: 5px;
}

div.summary_branch_graphs {
	position: relative;
}

div.summary_branch_graphs div.single_branch_graph {
	float: left;
	width: 15%;
	padding-left: 10px;
	height: 75%;
}

div.summary_branch_graphs div.single_branch_graph_wide {
	width: 30%;
}

div.result_structure div > svg {
	position: absolute;
	top: 0px;
	left: 0px;
}

#sugar_key {
	position: relative;
}

#sugar_key_image > svg {
	position: absolute;
	top: 0px;
	left: 0px;
}

@media screen {
	#intensity_key {
		display: none;
	}
}

div.summary_branch_graphs div.branch_graph_svg {
	height: 100%;
	width: 100%;
}

div.sugarbuilder_slider_container {
	left: 0%;
	margin-left: 10px;
	top: 0px;
	margin-top: 50px;
}
