<h1>New enzyme_reaction</h1>

<%= form_tag('/enzyme_reactions/create_with_reaction') %>
  <%= hidden_field 'enzymeinfo', 'id' %>
  <%= render :partial => 'form' %>
  <%= render :partial => 'reactions/form' %>
  <%= submit_tag "Create" %>
<%= form_tag %>

<%= link_to 'Back', :action => 'list' %>