<h1>New enzyme_reaction</h1>

<%= start_form_tag :action => 'create_with_reaction' %>
  <%= hidden_field 'enzymeinfo', 'id' %>
  <%= render :partial => 'form' %>
  <%= render :partial => 'reactions/form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>