<%= error_messages_for 'ref' %>

<!--[form:ref]-->
<p><label for="ref_pmid">Pmid</label><br/>
<%= text_field 'ref', 'pmid'  %></p>

<p><label for="ref_desc">Desc</label><br/>
<%= text_field 'ref', 'desc'  %></p>
<!--[eoform:ref]-->

